# This workflow runs for pushes to main. It runs the following jobs:
# - build: builds the documentation
# - cleanup: cleans all previous deployments to GitHub Pages
# - deploy: deploys the documentation to GitHub Pages
permissions:
  contents: read
on:
  push:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: docs
jobs:
  build:
    runs-on: ubuntu-latest
    name: build (stable)
    steps:
      - name: Install system requirements
        run: |
          sudo apt-get update
          sudo apt-get install -y libhdf5-dev openmpi-bin libopenmpi-dev libboost-program-options-dev
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v6.0.2
        with:
          submodules: true
      - name: Install stable
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # tag=v1.15.2
        with:
          toolchain: stable
      - name: cargo doc --no-deps
        run: cargo doc --no-deps
      - name: Add redirect
        run: echo '<meta http-equiv="refresh" content="0;url=tnc/index.html">' > target/doc/index.html
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # tag=v4.0.0
        name: Upload artifact
        id: deployment
        with:
          path: target/doc
  cleanup:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: build
    steps:
      - name: Delete previous deployments
        uses: strumwolf/delete-deployment-environment@a4825dd9648c57da8437a4885c3fcad58beac69c # tag=v3.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: github-pages
          onlyRemoveDeployments: true
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    needs: cleanup
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # tag=v4.0.5
